*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --primary-color: #fc5dd66;
    --secondary-color: #ffc05a;
    --light-color: f9fafb;
    --dark-color: #272d35;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    line-height: 1.6;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

ul,
ul li {
    list-style: none;
}

img {
    max-width: 100%;
}

.container,
.container-sm {
    margin: 0 auto;
    padding: 0 2rem;
}

.container {
    max-width: 1200px;
}

.container-sm {
    max-width: 1000px;
}

/* Navbar */
.navbar {
    background-color: #000; /* temp */
    color: #fff;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;

    img {
        width: 81px;
        height: 32px;
    }

    a {
        color: #fff;

        &:hover {
            color: var(--secondary-color);
        }
    }

    i {
        font-size: 1.5rem;
    }
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}

.main-menu-list .fa-facebook:hover {
    color: #1877f2;
}

.main-menu-list .fa-twitter:hover {
    color: #1da1f2;
}

/* Mobile Menu */
.mobile-menu {
    display: none;
}

.navbar .mobile-menu-toggle {
    color: #fff;
    cursor: pointer;
}

.fas {
}
.fa-bars {
}
.fa-2x {
}

.navbar .mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
    transform: translateX(0);
}

.navbar .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
}

.mobile-menu-list .fa-facebook:hover {
    color: #1877f2;
}

.mobile-menu-list .fa-twitter:hover {
    color: #1da1f2;
}
