*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --primary-color: #fc5dd66;
    --secondary-color: #ffc05a;
    --light-color: f9fafb;
    --dark-color: #272d35;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    line-height: 1.6;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

ul,
ul li {
    list-style: none;
}

img {
    max-width: 100%;
}
